.ments{
    width: 100%;
}
form{
    width: 100%;
}
form .shuru{
    position: relative;
    width: 92%;
    height: 40px;
    margin: 3rem 4%;
}
/*输入框*/
.shuru input{
    width: 100%;
    height: 100%;
    background: #eee;
    font-size: 1.3rem;
    text-indent: 3rem;
    border-radius: 2rem;
    border: 0;
    outline:none;
}
/*icon 样式*/
.shuru i{
    position: absolute;
    display: inline-block;
    left: 1rem;
    top: 1.1rem;
    font-size: 16px;
}
.shuru label{
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    left: 29px;
}
/*选择下拉框位置*/
.select{
    position: absolute;
    top: 10px;
    left: 100px;
}
.select select{
    border: none;
    outline: none;
    background: #fff;
    /*!*select 默认下拉箭头*!*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    width: 77px;
}
/*下拉图标 icon 位置*/
.select img{
    width: 30px;
    position: absolute;
}

/*提交按钮*/
.tijiao{
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    line-height: 4rem;
    font-size: 2rem;
    color: #fff;
    background: linear-gradient(90deg,#0882fd,#71bcf5);
    outline: 0 none;
    border: none;
}

/*loading 加载样式*/
.outer{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: transparent;
}
.load{
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 34%;
}
.load img{
    width: 32px;
    height: 32px;
    line-height: 100px;
    margin-top: 13px;
}
.load p{
    line-height: 50px;
}
/*点击按钮才显示出来加载按钮*/
.al{
    text-align: center;
}